.hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:80px;

    min-height:90vh;

}

.hero-left{

    flex:1;

}

.hero-right{

    flex:1;

    display:flex;

    justify-content:center;

}

.hero-right img{

    width:90%;

    max-width:550px;

}

.hero-tag{

    color:#2563eb;

    font-weight:bold;

    margin-bottom:20px;

}

.hero h1{

    font-size:60px;

    line-height:1.2;

}

.hero h1 span{

    color:#2563eb;

}

.hero-description{

    margin-top:25px;

    color:#64748b;

    line-height:1.8;

    font-size:18px;

}

.hero-buttons{

    margin-top:35px;

    display:flex;

    gap:20px;

}

.primary-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:10px;

    cursor:pointer;

}

.secondary-btn{

    background:white;

    border:2px solid #2563eb;

    color:#2563eb;

    padding:15px 30px;

    border-radius:10px;

    cursor:pointer;

}

.hero-stats{

    margin-top:40px;

    font-size:18px;

    color:#475569;

}