.upload-box{
    text-align:center;
}

.name-input{
    padding:10px;
    border-radius:10px;
    border:1px solid gray;
    font-size:16px;
    margin-bottom:20px;
}

.upload-btn{
    background-color:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

.upload-btn:hover{
    background-color:#1d4ed8;
}

.success{
    color:green;
    font-weight:bold;
    margin-top:20px;
}

.upload-btn:disabled{
    background-color:gray;
    cursor:not-allowed;
}